<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/cabin.png" type="image/png">
    <title>Riyaz</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">


    <!--Bootstrap-->
    <link href="/form link/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--datatable css-->
    <link href="/form link/Datatable/css/jquery.dataTables.min.css" rel="stylesheet" />
    <!--fontawesome css-->
    <link href="/form link/fontawesome/css/all.css" rel="stylesheet" />
    <!--Custom css-->
    <link href="/form link/Custom.css" rel="stylesheet" />
    <!--jquery-->
    <script src="/form link/Bootstrap/js/jquery-3.4.1.slim.min.js"></script>
    <!--popper js-->
    <script src="/form link/Bootstrap/js/popper.min.js"></script>
    <!--bootstrap js-->
    <script src="/form link/Bootstrap/js/bootstrap.min.js"></script>
</head>

<body>

    <!--================Header Area =================-->
    <header class="header_area">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light nav-bk3">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="home"><img src="/cabin.png" alt="" width="65"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div>
                    <h5 style="color:white;">SOUTHERN INDIA HOMESTAY TOURISM</h5>
                </div>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">

                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#About">About us</a></li>
                        <li class="nav-item"><a class="nav-link" href="#book">Type Rooms</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <br>
    <style>
        a {
            color: black;
            text-decoration: none;
        }

        #submit {
            background-color: rgb(189, 228, 189);
            border-radius: 5px;
        }

        #submit:hover {
            width: 100px;
            height: 40px;
        }

        .nav-bk3 {

            background: #00F260;

            background: -webkit-linear-gradient(to right, #0575E6, #00F260);

            background: linear-gradient(to right, #0575E6, #00F260);

        }
    </style>
    <br>
    <br>
    <br>
    <br>
    <br>
   
  
        <!-- Inner -->
  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <img
                src="Tourist-img/mabalipuram.jpg"
                class="card-img-top"
                alt="mabali" id="c1"
              />
              <div class="card-body">
                <h5 class="card-title">Mahabalipuram</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="madurai" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card">
              <img
                src="Tourist-img/Madurai-feature-compressed.jpg"
                class="card-img-top"
                alt="madurai" id="c2"
              />
              <div class="card-body">
                <h5 class="card-title">Madurai Meenakshi Amman Temple</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="madurai" class="btn btn-primary bm">Button</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card">
              <img
                src="Tourist-img/thanjavur.jpg"
                class="card-img-top"
                alt="thanjavur" id="c3"
              />
              <div class="card-body">
                <h5 class="card-title">Thanjai Periya Kovil</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="madurai" class="btn btn-primary bm">Button</a>
              </div>
            </div>
          </div>
        </div>
       </div>
      </div>

    <!-- Single item -->
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <div class="card">
              <img
                src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
                class="card-img-top"
                alt="Fissure in Sandstone"
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="https://mdbcdn.b-cdn.net/img/new/standard/nature/185.webp"
                class="card-img-top"
                alt="Storm Clouds"
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="https://mdbcdn.b-cdn.net/img/new/standard/nature/186.webp"
                class="card-img-top"
                alt="Hot Air Balloons"
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <div class="card">
              <img
                src="https://mdbcdn.b-cdn.net/img/new/standard/nature/187.webp"
                class="card-img-top"
                alt="Peaks Against the Starry Sky"
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
            <div class="card">
              <img
                src="https://mdbcdn.b-cdn.net/img/new/standard/nature/188.webp"
                class="card-img-top"
                alt="Bridge Over Water"
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
            <div class="card">
              <img
                src="https://mdbcdn.b-cdn.net/img/new/standard/nature/189.webp"
                class="card-img-top"
                alt="Purbeck Heritage Coast"
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Inner -->


    <br>
    <footer class="footer-area section_gap nav-bk3" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">About Southern India Home Stay Tourism</h6>
                        <p>we help to create a Home stay place for your wishing tourist place in southside</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Navigation Links</h6>
                        <div class="row">
                            <div class="col-4">
                                <ul class="list_style">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Service</a></li>
                                    <li><a href="#">Facilitas</a></li>
                                    <li><a href="#">Room and class</a></li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <ul class="list_style">
                                    <li><a href="#">Tel: Telp. (0753) 65718</a></li>
                                    <li><a href="#">Reservation. (0753) 65718</a></li>
                                    <li><a href="#">Riyaz@gmail.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Newsletter</h6>
                        <p>For business professionals caught between high OEM price and mediocre print and graphic
                            output, </p>
                        <div id="mc_embed_signup">
                            <form target="_blank"
                                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                method="get" class="subscribe_form relative">
                                <div class="input-group d-flex flex-row">
                                    <input name="EMAIL" placeholder="Enter your Email Address"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '"
                                        required="" type="email">
                                    <br>
                                    <br>
                                    <textarea id="w3review" name="w3review" rows="4" cols="50"
                                        placeholder="Enter your queries"></textarea>
                                    <button id="submit">Submit</button>
                                </div>

                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border_line"></div>
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-8 col-sm-12 footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Southern Homestay Tourism | by <span
                        class="header-text"><a href="www.riyazdeveloper.com">Riyaz</a></span></a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a class="navbar-brand logo_h" href="#"><img src="/Social icon/facebook.png" alt="" width="40"></a>
                    <a class="navbar-brand logo_h" href="#"><img src="/Social icon/twitter.png" alt="" width="40"></a>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->
</body>

</html>